[build]
  publish = "public"
  command = "yarn build"
[build.environment]
  NODE_VERSION = "14"
  YARN_VERSION = "1.22.10"
  YARN_FLAGS = "--no-ignore-optional"
[context.production]
  environment = { DATA_BRANCH = "website" }

# Redirects from site structure changes
[[redirects]]
  from = "/blog"
  to = "/publications-and-resources/blog"
  status = 301
[[redirects]]
  from = "/blog"
  to = "/publications-and-resources/blog"
  status = 301